pip install pymssql

In [141]:
import pandas as pd
import pymssql

In [142]:
server="SQL-retail2.nikamed.local"
base="Retail2_shops"

In [310]:
sql="""
with mag_iskl as (
SELECT CAST(_IDRRef AS uniqueidentifier) AS Ссылка, --исключение техн склада
_IDRRef, 
_Code AS Код
FROM _Reference10
where _Code='0-002'
),
--------------------------------------исх продажи-----------------------
sales_ish as (
select 
       cast(dateadd(year, -2000, d21._date_time) as date) as Дата , 
       cast(d21._number as varchar(20))+'_'+ cast(dateadd(year, -2000, d21._date_time) as varchar(50)) as  Num4ККМ,  
       iif(e._EnumOrder=1,-1,1) as 'ВидОперации'
       ,iif(e._EnumOrder=1, -d21t._Fld6384, d21t._Fld6384 ) as 'Количество'
       ,iif(e._EnumOrder=1, -d21t._Fld6397, d21t._Fld6397) as 'Сумма'
              , cast(r10._idrref as uniqueidentifier) as 'ccМагазин'
       , iif(r2_10._Code is null, cast(r10._idrref as uniqueidentifier), 
                                  cast(r2_10._idrref as uniqueidentifier) ) as 'ccМагазинМотивационный'
from _Document21_VT6378 d21t
left outer join _Document21 d21 on d21t._Document21_IDRRef = d21._IDRRef /*исх чек*/
LEFT OUTER JOIN _reference47 r47 ON d21._Fld6331RRef = r47._idrref /*вид документа*/
LEFT OUTER JOIN _Enum352 e ON d21._Fld6333RRef = e._idrref /*вид документа в перечислениях чека ккм - 0-продажа, 1-возврат*/
left outer join _Reference10 r10 on d21._Fld6339RRef = r10._idrref /*shop*/
left outer join  _Document21 d2_21 on d21._Fld6353RRef=d2_21._idrref /*поиск мотив маг*/
left outer join _Reference10 r2_10 on d2_21._Fld6339RRef = r2_10._idrref /*shop*/
where d21._marked = 0 and d21._Posted = 1
and d21._date_time >= '08.01.4021' --and d21._date_time < '09.01.4021'
union all
select 
       cast(dateadd(year, -2000, d._date_time) as date) as 'Дата', 
        cast(d._number as varchar(20))+'_'+ cast(dateadd(year, -2000, d._date_time) as varchar(50)) as  Num4ККМ,      
        -1
       , -dt._Fld3984 as 'Количество'
       , -dt._Fld3988 as 'СуммаЧека'
       , cast(r10._idrref as uniqueidentifier) as 'ccМагазин'
       , iif(r2_10._Code is null, cast(r10._idrref as uniqueidentifier), cast(r2_10._idrref as uniqueidentifier) ) as 'ccМагазинМотивационный'
from _Document216_VT3980 dt
left outer join _Document216 d on dt._Document216_IDRRef = d._IDRRef /*исх возвратный чек*/
left outer join _Reference10 r10 on d._Fld3950RRef = r10._idrref /*shop*/
left outer join  _Reference172 r172  on dt._Fld4001RRef = r172._idrref
left outer join  _Reference23 r23  on dt._Fld3982RRef = r23._idrref
left outer join _Reference131 r131 on d._Fld11137RRef= r131._idrref --  склады
left outer join _Reference10 r2_10 on r131._Fld2686RRef = r2_10._idrref /*shop к складу*/
where d._marked = 0 and d._Posted = 1
and d._date_time >= '08.01.4021' --and d._date_time  < '09.01.4021'

), 
-------------суммарные продажи------------------------------------ 
sales_sum2 as (

SELECT

Дата as date_ss, 
sum(Сумма)  as Summa, 
ccМагазин, 
ccМагазинМотивационный, 
ВидОперации,
Num4ККМ 

FROM sales_ish

group by Дата, ccМагазин, ccМагазинМотивационный, ВидОперации, Num4ККМ

),
-------------c кол чеков------------------------------------ 
sales_sum as (
SELECT date_ss,

ccМагазин, 
ccМагазинМотивационный,
sum(Summa) as Summa, 
sum(ВидОперации) as Kol4
FROM sales_sum2

group by date_ss, ccМагазин, ccМагазинМотивационный

),
-----------трафиk группировка-----------------------------
tr_gr as (
SELECT cast(dateadd(year,-2000,i._fld10076) AS date) AS date_ii,
		 sum(i._fld10077) AS Трафик,
		 cast( r._Fld2907RRef AS uniqueidentifier) AS cсМагазин
FROM _InfoRg10074 i 

left outer JOIN _reference142 r ON i._Fld10075RRef = r._IDRRef 
left outer JOIN mag_iskl mi ON r._Fld2907RRef=mi._IDRRef

WHERE i._fld10076 >= '08.01.4021'
--		AND i._fld10076 < '09.01.4021'
		AND i._fld10077 > 0
		AND mi._IDRRef is  null
GROUP BY  cast(dateadd(year, -2000, i._fld10076) AS date) , cast( r._Fld2907RRef AS uniqueidentifier)
),
---------------------------------------------------
--select * from tr_gr
traf_ich as (
SELECT tab.date_ii, 
    tab.Трафик, 
    tab.cсМагазин, 
    iif(sum(sales_sum.Summa) is null,0,sum(sales_sum.Summa)) as Summa_ii, 
    sum(iif(Kol4 is null,0,Kol4)) as Kol4
    
    
FROM tr_gr tab

left outer join sales_sum on sales_sum.date_ss=tab.date_ii and sales_sum.ccМагазин=tab.cсМагазин
--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
WHERE tab.date_ii >= '08.01.2021' --and tab.date_ii < '09.01.2021'
--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
group by tab.date_ii , tab.cсМагазин, tab.Трафик
)
---------------------------------
select tab.date_ii ,
    concat(left(tab.date_ii,8),'01') As period,
    tab.Трафик,
    tab.cсМагазин,
    tab.Summa_ii,
    tab.Kol4,
    iif(tab.Kol4=0,0,tab.Summa_ii/tab.Kol4)  as sr4,
    iif(tab.Трафик=0,0,tab.Kol4/tab.Трафик)  as konv
    
    from traf_ich as tab
    

"""

In [311]:
def read_sql(sql,base, serv):
    #with pymssql.connect(server=serv ,database = base ,charset =  'cp1251') as  conn:
    with pymssql.connect(server=serv ,charset =  'cp1251',database = base ) as  conn:                  
    
        cursor = conn.cursor()  
        df = pd.read_sql( sql,conn)
    return df

In [312]:
%%time
df_tr=read_sql(sql,base, server)

Wall time: 3.83 s

In [313]:
df_tr

,date_ii,period,Трафик,cсМагазин,Summa_ii,Kol4,sr4,konv
0,2021-08-08,2021-08-01,33.0,11008787-72d8-8824-11de-d377741509df,96393.0,15,6426.200000,0.454545
1,2021-08-03,2021-08-01,54.0,1500588d-015d-0b43-11e9-ca54d42f173e,73303.0,8,9162.875000,0.148148
2,2021-08-01,2021-08-01,65.0,4a3c58b9-7492-28df-11e6-240486996548,99125.0,20,4956.250000,0.307692
3,2021-08-03,2021-08-01,59.0,4a3c988b-7492-28df-11e5-6cc2b15a7e3a,52978.0,11,4816.181818,0.186441
4,2021-09-29,2021-09-01,34.0,4a3c30ae-7492-28df-11e8-5a887d4829b7,90030.0,14,6430.714285,0.411765
...,...,...,...,...,...,...,...,...
12384,2021-08-03,2021-08-01,150.0,1500c38c-015d-0443-11e9-5a09d29f9215,112188.0,19,5904.631578,0.126667
12385,2021-09-02,2021-09-01,79.0,1500b98d-015d-002a-11ea-0a1f62408fe9,144715.0,22,6577.954545,0.278481
12386,2021-09-24,2021-09-01,62.0,4a3ccdba-7492-28df-11e4-34cd06df5667,198143.0,29,6832.517241,0.467742
12387,2021-09-21,2021-09-01,29.0,11008787-72d8-8824-11de-d377741509df,84690.0,12,7057.500000,0.413793
12388,2021-09-12,2021-09-01,43.0,1500968d-fa5d-1787-11e9-f5758aa8bcda,75620.0,9,8402.222222,0.209302

In [261]:
df_tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5902 entries, 0 to 5901
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_ii    5902 non-null   object
 1   Трафик     5902 non-null   float64
 2   cсМагазин  5902 non-null   object
 3   Summa_ii   5902 non-null   float64
 4   Kol4       5902 non-null   int64
 5   sr4        5902 non-null   float64
 6   konv       5902 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 322.9+ KB

df_tr['Summa_ii']=df_tr['Summa_ii'].fillna(0)
df_tr.info()

In [253]:
sum(df_tr['Summa_ii'])

531986938.41999996

In [254]:
sum(df_tr['Трафик'])

373766.0

In [255]:
sum(df_tr['Kol4'])

87299

In [256]:
df_tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5902 entries, 0 to 5901
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_ii    5902 non-null   object
 1   Трафик     5902 non-null   float64
 2   cсМагазин  5902 non-null   object
 3   Summa_ii   5902 non-null   float64
 4   Kol4       5902 non-null   int64
 5   sr4        5902 non-null   float64
 6   konv       5902 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 322.9+ KB

In [320]:
sql="""
--------------план конверсии---------------------
SELECT cast(dateadd(year,
		 -2000,
		 _Fld7062) AS date) AS Период,
		 (d_v._Fld7072/100) AS Конверсия,
		 cast(d_v._Fld7071RRef AS uniqueidentifier) AS ссМагазин
FROM _Document302_VT7069 d_v left outer
JOIN _Document302 d
	ON d_v._Document302_idrref = d._idrref
WHERE d._Marked = 0
		AND d._Posted=1
--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
        and _Fld7062 = '4021-08-01'
--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
"""

conn.close()

In [321]:
%%time
df=read_sql(sql,base, server)

Wall time: 56 ms

In [322]:
df.head()

       Период  Конверсия                             ссМагазин
0  2021-08-01        0.0  4a3ccdba-7492-28df-11e4-34cd06df5674
1  2021-08-01        0.0  4a3cd4b8-7492-28df-11e5-decf120e76ce
2  2021-08-01        0.0  4a3cb8ae-7492-28df-11e3-63e1be18ea68
3  2021-08-01        0.0  4a3cb8ae-7492-28df-11e3-63e1be18ea7a
4  2021-08-01        0.0  4a3c90b8-7492-28df-11e1-8e081c40ef1a