pip install pymssql

In [6]:
import pandas as pd
import pymssql

In [18]:
server="SQL-retail2.nikamed.local"
base="Retail2_shops"

In [95]:
sql="""
with mag_iskl as (SELECT CAST(_IDRRef AS uniqueidentifier) AS Ссылка,
_IDRRef, 
_Code AS Код
FROM _Reference10
where _Code='0-002')

SELECT 
cast(dateadd(year, -2000, i._fld10076) as date) AS date,
sum(_fld10077) AS Трафик,
cast( r._Fld2907RRef as uniqueidentifier) AS cсМагазин

FROM _InfoRg10074 i 


left outer JOIN _reference142 r ON i._Fld10075RRef = r._IDRRef
left outer join mag_iskl mi on r._Fld2907RRef=mi._IDRRef

WHERE i._fld10076 > '08.01.4021'
AND _fld10077 > 0
and mi._IDRRef is null
group by cast(dateadd(year, -2000, i._fld10076) as date) , cast( r._Fld2907RRef as uniqueidentifier)
"""

In [96]:
def read_sql(sql,base, serv):
    with pymssql.connect(server=serv ,database = base ,charset = 'cp1251') as  conn:
                      
    
        cursor = conn.cursor()  
        df = pd.read_sql( sql,conn)
    return df

conn.close()

In [97]:
df_tr=read_sql(sql,base, server)

In [98]:
sum(df_tr['Трафик'])

676334.0