pip install pymssql

In [1]:
import pandas as pd
import pymssql

In [2]:
server="hw-dev-sql-02"
base="DEV_upp_nm82_2011_powerbi"

In [3]:
sql="""
SELECT CAST(_Active AS int) AS Активность
, _LineNo AS НомерСтроки
, CAST(_RecorderRRef AS uniqueidentifier) AS Регистратор
, DATEADD([YEAR], -2000, _Period) AS Период
, CAST(_Fld22958_RRRef AS uniqueidentifier) AS БанковскийСчетКасса
, CAST(_Fld22959RRef AS uniqueidentifier) AS ВидДенежныхСредств
, CAST(_Fld22960RRef AS uniqueidentifier) AS ПриходРасход
, CAST(_Fld22961RRef AS uniqueidentifier) AS СтатьяДвиженияДенежныхСредств
, CAST(_Fld22962_RRRef AS uniqueidentifier) AS ДокументДвижения
, CAST(_Fld22963_RRRef AS uniqueidentifier) AS Контрагент
, CAST(_Fld22964RRef AS uniqueidentifier) AS ДоговорКонтрагента
, CAST(_Fld22965_RRRef AS uniqueidentifier) AS Сделка
, CAST(_Fld22966RRef AS uniqueidentifier) AS Проект
, CAST(_Fld22967_RRRef AS uniqueidentifier) AS ДокументПланированияПлатежа
, CAST(_Fld22968_RRRef AS uniqueidentifier) AS ДокументРасчетовСКонтрагентом
, CAST(_Fld22969RRef AS uniqueidentifier) AS Организация
, CAST(_Fld22970RRef AS uniqueidentifier) AS ЦФО
, CAST(_Fld22971RRef AS uniqueidentifier) AS СтатьяОборотовПоБюджетам
, _Fld22972 AS Сумма
, _Fld22973 AS СуммаУпр
FROM _AccumRg22957

"""

In [5]:
def read_sql(sql,base, serv):
    with pymssql.connect(server=serv ,database = base ,charset = 'cp1251') as  conn:
                      
    
        cursor = conn.cursor()  
        df = pd.read_sql( sql,conn)
    return df

conn.close()

In [8]:
df=read_sql(sql,base, server)

In [9]:
df

                     Период
0       2019-02-12 23:59:59
1       2019-03-25 23:59:59
2       2016-01-13 23:59:59
3       2014-04-08 23:59:59
4       2019-05-23 23:59:59
...                     ...
1898714 2017-10-02 08:53:22
1898715 2017-06-16 08:55:34
1898716 2017-06-23 09:41:33
1898717 2017-06-26 17:09:25
1898718 2018-05-08 17:24:49

[1898719 rows x 1 columns]